.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  height: 15px;
  z-index: 1;

  /* Animations*/
  transition-timing-function: ease-in;
  transition: all 0.8s;
}
.nav_black {
  background-color: rgba(2, 1, 1, 0.8);
}
.nav_logo {
  position: fixed;
  left: 20px;
  width: 80px;
  object-fit: contain;
}

.nav_avatar {
  position: fixed;
  right: 20px;
  width: 30px;
  object-fit: contain;
}
